@{
    ViewData["mo"] = "Home";
}




@* <div class="row mb-3"> *@

@*   <div class="col-4"> style=" height=400px; width=100px;"  </div> *@



@* 
<form method="get" class="form-inline  d-flex m-lg-3  p-1" asp-action="Get_instructor_byid" asp- asp-controller="Instructor">
    <div class="form-group   mx-sm-3  d-inline">

        <input type="text" class="form-control d-inline " name="id" placeholder="Get instructor by id">
    </div>
    <button type="submit" style=" background-color: var(--accent-color);" class="btn btn-primary  d-inline">Go</button>
</form>



<form method="get" class="form-inline  d-flex m-lg-3  p-1" asp-action="get_course_byId" asp- asp-controller="Course">
    <div class="form-group   mx-sm-3  d-inline">

        <input type="text" class="form-control d-inline " name="id" placeholder="Get Course by id">
    </div>
    <button type="submit" style=" background-color: var(--accent-color);" class="btn btn-primary  d-inline">Go</button>
</form>

 *@


<div class="text-center">

    <img src="~/images/learning-center.png" style=" height=100px; width=100px;">
    <h1 class="display-4">Welcome</h1>

    <div>
        <a class="btn btn-primary btn-sm" asp-controller="Instructor" asp-action="getallinstructors">
            <i class="fas fa-info-circle"></i>
            Instructor
        </a>
    </div>
    @*  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
@* </div> *@



